


<script th:src="@{assets/js/jquery-1.10.2.js}"></script>

<script th:src="@{assets/js/dataTables/jquery.dataTables.js}"></script>

<script th:src="@{assets/js/dataTables/dataTables.bootstrap.js}"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script th:src="@{assets/js/bootstrap.js}"></script>
<!-- CUSTOM SCRIPTS  -->
<script th:src="@{assets/js/custom.js}"></script>

<script>
	$(document).ready(function() {
		
		var PathName = $(location).attr('pathname');
		PathName = PathName.replace("/", "");
		
		$(".menu-section [href='"+PathName+"']").addClass("menu-top-active");

		
		
		$("body").on("click",".edituseraction",function() {
			
			name = $(this).data("name");
			lastname = $(this).data("lastname");
			idClient= $(this).data("idclient");

			$("#nameinput").val(name);
			$("#lastnameinput").val(lastname);
			$("#idclient").val(idClient);

		})
		
	})
</script>